.intestazione {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    color: var(--blue-100);
    div {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        span {
            margin-right: .5rem;
        }
    }
    a, a:hover {
        color: var(--orange-100);
        text-decoration: none;
    }
}
.newsWrapper {
    margin: 1rem 0;
}