body {
  .header {
    padding: .5rem 0;
    .btn {
      width: 100%;
      background-color: var(--green-100);
      color: var(--blue-100);
      justify-content: center;
      text-transform: uppercase;
      font-size: .75rem;
      font-weight: 600;
    }
    .dropdown {
      ul {
        width: 120px;
      }
      .dropdownItem {
        color: var(--blue-100);
        font-weight: 400;
        &:hover {
          background-color: transparent;
          color: var(--blue-100);
          font-weight: 700;
        }
      }
    }
    .userProfile {
      overflow: visible;
      a {
        flex-direction: row-reverse;
      }
    }
    nav {
      justify-content: flex-end;
      display: flex;
      background-color: transparent;
      @media (max-width: 700px){
        justify-content: center;
      }
      div {
        background-color: transparent;
        &:hover {
          background-color: transparent !important;
          text-decoration: none;
        }
      }
      a {
        padding: 0;
        margin: 0 .5rem;
        &:hover {
          background-color: transparent !important;
          text-decoration: none;
        }
        [class^="icon-"], [class*=" icon-"] {
          font-size: 21px;
          color: var(--black-100);
          position: relative;
          &::before {
            position: relative;
            z-index: 2;
          }
        }
        &.active {
          [class^="icon-"], [class*=" icon-"] {
            color: var(--blue-100);
            &::after {
              content: "";
              position: absolute;
              bottom: -5px;
              left: 0;
              height: 15px;
              width: 100%;
              background-color: var(--green-100);
              z-index: 1;
            }
          }
        }
      }
    }
}
}