.btn {
    border: 2px solid black;
    padding: .4rem 1rem;
    text-transform: uppercase;
    color: var(--blue-100);
    background-color: white;
    box-shadow: none;
    font-weight: 600;
    width: 160px;
    &.btn--gray {
        border-color: var(--gray-100);
        background-color: var(--gray-100);
        opacity: .5;
    }
    &.btn--border-orange {
        border-color: var(--orange-100);
    }
    &.btn--border-blue {
        border-color: var(--blue-100);
    }
    &.btn--green {
        background-color: var(--green-100);
        border-color: var(--green-100);
    }
}
.fake-btn {
    width: 160px;
}