.swiper.swiper-initialized {
    padding: 0 0.3rem;
    .swiper-slide {
        height: auto;
        display: flex;
    }
    .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        position: relative;
        padding: 2rem 0 0;
        align-items: center;
        display: flex;
        justify-content: center; 
        .swiper-pagination-bullet {
            background-color: var(--blue-100);
            opacity: 1;
            &.swiper-pagination-bullet-active {
                height: 5px;
                width: 25px;
                border-radius: 10px;
                background-color: var(--green-100);
            }
        }
    }
}

.hp-swiper {
    .swiper {
        @include small {
            margin-right: -20px;
        }
    }
}

.swiper-cources-wrapper {
    .swiper {
        .swiper-wrapper {
            flex-direction: column;
            @include small {
                flex-direction: row;
            }
            .swiper-slide {
                width: 100% !important;
                flex-shrink: 0;
                margin: 0 !important;
                @include small {
                    margin-right: 20px !important;
                }
                section {
                    width: 100%;
                }
            }
        }
    }
}