$icomoon-font-family: "esercizio" !default;
$icomoon-font-path: "fonts" !default;

$icon-chevron-right-bold: "\e90b";
$icon-chevron-left-bold: "\e90c";
$icon-calories: "\e909";
$icon-sport: "\e90a";
$icon-map-marker: "\e900";
$icon-clock: "\e901";
$icon-chevron-up: "\e902";
$icon-chevron-down: "\e903";
$icon-chevron-left: "\e904";
$icon-chevron-right: "\e905";
$icon-alarm: "\e906";
$icon-calendar: "\e907";
$icon-home: "\e908";

